In [1]:
!pip install numpy matplotlib sklearn pandas

Requirement already satisfied: numpy in c:\users\kushv\anaconda3\lib\site-packages (1.20.1)
Requirement already satisfied: matplotlib in c:\users\kushv\anaconda3\lib\site-packages (3.3.4)
Requirement already satisfied: sklearn in c:\users\kushv\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: pandas in c:\users\kushv\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\kushv\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\kushv\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\kushv\anaconda3\lib\site-packages (from matplotlib) (8.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\kushv\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kushv\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: six in c:\users\kushv\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\kushv\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: scikit-learn in c:\users\kushv\anaconda3\lib\site-packages (from sklearn) (0.24.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\kushv\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\kushv\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.6.2)
Requirement already satisfied: joblib>=0.11 in c:\users\kushv\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.0.1)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from numpy.linalg import eig

In [3]:
df = pd.read_csv("E:/iris_dataset.csv")

In [4]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:


x = df['SepalLengthCm']
x

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [6]:
y = df['SepalWidthCm']
y

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: SepalWidthCm, Length: 150, dtype: float64

In [7]:
x_mean = sum(x) / len(x)
y_mean = sum(y) / len(y)

print(x_mean, y_mean)

5.843333333333335 3.0540000000000007

In [8]:
cov_xy = 0;
cov_xx = 0;
cov_yy = 0;

n = len(x)

for xi, yi in zip(x, y):
    cov_xy += ((xi - x_mean) * (yi - y_mean))
    cov_xx += ((xi - x_mean) * (xi - x_mean))
    cov_yy += ((yi - y_mean) * (yi - y_mean))
cov_xy = cov_xy / (n - 1)
cov_xx = cov_xx / (n - 1)
cov_yy = cov_yy / (n - 1)

print(cov_xy, cov_xx, cov_yy)

-0.03926845637583892 0.6856935123042505 0.18800402684563763

In [9]:
C = [[cov_xx, cov_xy], [cov_xy, cov_yy]]
C

[[0.6856935123042505, -0.03926845637583892],
 [-0.03926845637583892, 0.18800402684563763]]